.form {
	&_flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 70px auto;
		font-family: $main-font;
	}
	&__input {
		&_err {
		border-color: $font-color-highlight;
		}
		margin: 0 0 20px 0;
		outline: none;
		padding: 10px;
		font-size: 17px;
		background: $widget-color;
		border: $border;
		border-radius: $border-radius;
		color: $font-color-main;
	}
	&__button {
		margin-bottom: 20px;
	}
	&__label {
		display: block;
		color: $font-color-main;
		font-size: 17px;
		margin-bottom: 5px;
		text-align: center;
	}
	&__link {
		text-decoration: none;
		color: $font-color-main;
		cursor: pointer;
		&:hover {
			color: bisque;
		}
	}
	&__error {
		color: $font-color-highlight;
		margin-bottom: 10px;
		text-align: center;
	}
	&__container {
		width: 60%;
		margin: auto;
		min-width: 300px;
	}
	&__captcha {
		max-width: 300px;
	}
}