.popup {
  &_position {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($popup-background, 0.5);
  }
  &__box {
    max-width: 460px;
    height: 70vh;
    height: calc(var(--vh, 1vh) * 70);
    margin: 10vh auto;
    margin: calc(var(--vh, 1vh) * 10) auto;
    padding: 70px;
    list-style: none;
    text-align: center;
    background-color: $widget-color;
    border: $border;
    border-radius: $border-radius;
    border-width: 2px;
    display: flex;

    flex-direction: column;

    justify-content: center;
    position: relative;
    color: $font-color-main;
    font-family: $main-font;
    font-size: 18px;
    @media (max-width: 500px) {
      padding-left: 50px;    
      padding-right: 50px;  
    }
  }
  &__button {
    padding: 1vh;
    padding: calc(var(--vh, 1vh) * 1);
    margin-top: 2vh;
    margin-top: calc(var(--vh, 1vh) * 2);
    font-size: 17px;
    cursor: pointer;
    &:hover {
      color: bisque;
      border-color: bisque;
    }
  }
  &__exit {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:hover {
      &::before {background-color: bisque;}
      &::after {background-color: bisque;}
    }
    &::before {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 4px;
      background-color: $font-color-main;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 4px;
      background-color: $font-color-main;
      transform: rotate(-45deg);
    }
  }
  &__form {
    margin: 0;
    padding: 0;
  }
}