@import './variables';
@import './fonts';
@import './ui';
@import './components/form/form';
@import './components/header/header';
@import './components/burgerMenu/burgerMenu';
@import './components/content/content';
@import './components/widget/widget';
@import './components/menu/menu';
@import './components/footer/footer';
@import './components/button/button';
@import './components/devices/devices';
@import './components/popup/popup';
@import './components/slider/slider';
@import './components/input/input';
@import './components/checkboxContainer/checkboxContainer';
@import './components/errorPopup/errorPopup';
@import './components/deviceDetailPage/deviceDetailPage';
@import './components/authorPage/authorPage';
@import './components/pagination/pagination';
@import './components/curves/curves';
  
.wraper {
  &_background {
    background: #1e1e1e;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: auto;
  }
  &__error {
    width: 100%;
    height: 95.5vh;
    height: calc(var(--vh, 1vh) * 95.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
}
  
  
  
  

